/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffebcd;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('balloon.jpg'); /* Add your background image URL here */
    background-size: cover; /* Cover the entire body with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

header {
    background-color: #ff69b4;
    color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #ff1493;
}

.content, .gallery, .wishes {
    width: 100%; /* Make the card wider */
    margin: 20px auto; /* Center the card */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    max-width: 1000px; /* Limit maximum width */
}

.grandma-photo {
    width: 100%; /* Make the picture wider */
    max-width: 800px; /* Limit maximum width of the picture */
    border-radius: 10px;
    margin-bottom: 20px;
}

.message {
    font-size: 1.2em;
    text-align: justify;
}

.gallery {
    margin-top: 40px;
}

.gallery h2, .wishes h2 {
    color: #ff69b4;
}

.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photos img {
    width: 100%; /* Make the image take up the full width of its container */
    max-width: 100%; /* Ensure it doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the entire container */
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wishes {
    margin-top: 40px;
}

.wish {
    background-color: #e0f2f1;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

footer {
    background-color: #ff69b4;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-top: 5px solid #ff1493;
    font-weight: bold;

}
